<li class="nav-item">
    <a class="nav-link active" href="{{ "acercade" | absURL }}">Acerca de...</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "posts" | absURL }}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "fanzines" | absURL }}">Fanzines</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "staff" | absURL }}">Staff</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "colaborar" | absURL }}">Colaborar</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "contactar" | absURL }}">Contactar</a>
</li>
